/*******************QMenu*********************/
QMenu 
{
    background-color: rgb(58, 58, 58); /* 菜单背景色 */
}

QMenu::item 
{
    background-color: transparent; /* QAction默认背景色 */
    color: rgb(200, 200, 200); /* QAction文字颜色 */
}

QMenu::item:selected 
{
    background-color:rgb(88, 88, 88); /* QAction鼠标悬停或选中的背景色 */
    color: white; /* QAction鼠标悬停或选中时的文字颜色 */
}

QMenu::item:pressed 
{
    background-color:rgb(65,65,65); /* QAction鼠标按下的背景色 */
    color: white; /* QAction鼠标按下时的文字颜色 */
}